@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    font-family: "poppins",sans-serif;
}
body{
    background: #38ad61;
    height: 100vh;
}
.main-container{
    display: flex;
    align-items: center;
    height: 100vh;
}
.Sidebar{
    height: 100%;
    width: 120px;
    background: rgba(0,0,0,.7);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    border-right: 2px solid rgba(255,255,255,.5);
    transition: .4s ease-in-out ;
    z-index: 1;
}
.Sidebar.active{
    width: 360px;
    background: rgba(0,0,0,.7);  
  }
.Sidebar .toggle{
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 180px;
    right: -20px;
    font-size: 38px;
    line-height: 50%;
    text-align: center;
    padding: 2px 0 2px 2px;
    background: linear-gradient(
        90deg,transparent,50%,rgba(10,10,10,.7)50%
    );
    border-radius: 50%;
}
.Sidebar.active .toggle{
    transform: translateY(45px);
}

.Sidebar.active .toggle i{
    transition: .4s linear;
} 
.Sidebar.active .toggle i{
    transform: rotateY(180deg);
}
.image{
    width: 100%;
    height: 240px;
    padding: 40px 0;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.image img{
    background: #38ad61;
    border-radius: 50%;
    width:56px;
}
.Sidebar.active img{
    width: 96px;
}
.image h2{
    font-size: 36px;
    margin-top: 12px;
    font-variant: small-caps;
    color: #fff;
    pointer-events: none;
    opacity: 0;
    scale: 0;
  
}
.Sidebar.active h2{
    opacity: 1;
    scale: 1;
    transition: .4s;
    transition-delay: .2s;
}
.Sidebar .title{
    color: #fff;
    margin: 10px 0 10px;
    pointer-events: none;
    opacity: 0;
}
.Sidebar.active .title{
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}
.Sidebar nav{
    padding: 0 30px;
}
.Sidebar nav .item{
    display: flex;
    justify-content: flex-start;
    color: #fff;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    cursor: pointer;
    margin: 8px 0;
}
nav .item:hover{
    transition: .3s;
    background: rgba(255,255,255,.2);
}
.Sidebar .item i{
    font-size: 24px ;
    display: flex;
    align-items: center;
}
.Selecter{
    background: #38ad61;
}
.Sidebar .item span{
    font-size: 18px;
    margin-left: 8px;
    pointer-events: none;
    pointer-events: none;
    opacity: 0;
}
.Sidebar.active span{
    opacity: 1;
    pointer-events: none;
    transition: .4s;
    transition-delay: .2s;
}
.Sidebar hr{
    width: 100%;
    background: rgba(255,255,255,.1);
    height: 2px;
    margin: 10px 0;
    opacity: 0;
    border-radius: 3px;
}
.Sidebar.active hr{
    opacity: 1;
    transition: .4s;
}
section{
    height: 90%;
    width: 60%;
    background: #eee;
    border-radius: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid #eee;
}
/* HIDE AND SEEK */
.home-page{
    display: block;
}
.home-page.active{
    display: none;
}
.CourseSection{
    display: none;
}
.CourseSection.active{
    display: block;
}
.QuestionSection{
    display: none;
}
.QuestionSection.active{
    display: block;
}
.text-section{
    width: 100%;
    text-align: center;
}
.text-section.active{
    display: none;
}


.text-section h2{
    background: #38ad61;
    border-bottom: #38ad61 2px solid;
    color: #eee;
}
.text-section marquee{
    background: #38ad61;
    color: #eee;
    margin-top: 10px;
}
.text-section .inner-text-section{
    padding: 5% 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top-left-radius: 20px;
}
.text-section .inner-text-section p{
    max-width: 300px;
    font-size: 18px;
    border: 3px solid #38ad61;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 10px;
    font-weight: 500;
    animation: SlideTop 1s ease forwards;
    scale: 0;
    opacity: 0;
    animation-delay:var(--clr);
}
@keyframes SlideTop{
    0%{
        scale: 0;
        opacity: 0;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}
.text-section .student-details{
    font-weight: 500;
    font-size: 25px;
    color: red;

}
.bottom-text-section{
    height: 45px;
    width: 100%;
    position: relative;
}
.student-details::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: #eee;
    height: 100%;
    width: 100%;
    animation: SlideLeft 2s ease forwards;
    animation-delay: 2s;
}
@keyframes SlideLeft{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

.btn{
    background: #38ad61;
    height: 40px;
    width: 100px;
    color: #eee;
    font-weight: 600;
    font-size: 20px;
    border-radius: 6px;
    border: 2px solid #38ad61;
    cursor: pointer;
}
.btn:hover{
    color: #38ad61;
    color: #eee;
}

/* Student-Deatils-table */
.table-section{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.Student-Deatils-table{
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    display: none;
}
.Student-Deatils-table.active{
    display: block;
}
.Student-Deatils-table h2{
    border-bottom: 2px solid rgba(0,0,0,.3);
}
table,tr,th,td{
    border: 2px solid rgba(10,10,10,.7);
   
}
tr,th,td{
    height: 30px;
}
table{
    width: 90%;
}

.table-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.btn-section{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}
.CorrectionBtn{
    background: #ff0000;
    color: #eee;
    height: 100%;
    width: 100%;
}
.Course-List{
    padding: 20px 30px;
    display: flex;
}
.st-Courses{
    height: 200px;
    width: 200px;
    background:#38ad61;
    border: 2px solid #38ad61;
    box-shadow: 5px 5px 0px rgba(0,0,0,.3);
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: .3s;
}
.st-Courses:hover{
    background: #eee;
}
.st-Courses h2 svg{
    height: 120px;
    width: 120px;
    cursor: pointer;
    color: #eee;
    scale: .8;
    transition: .4s;
}
.st-Courses:hover svg{
    scale: 1;
    color: #38ad61;
}

.question-list{
    display: flex;
} 
.AllQuestion p{
    font-size: 20px;
}
.AllQuestion{
   padding: 30px 10px;
   position: absolute;
   left: 0;
   padding: 10% 20px;
   width: 100%;
}
.popup{
    height: 200px;
    width:0px;
    background: rgba(255,255,255,.2);
    backdrop-filter: blur(5px);
    border: 3px solid #eee;
    position: absolute;
    top: 30%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   overflow: hidden;
   transform-origin: right;
   visibility: hidden;
   transition: .3s;
}
.popup.active{
    width:  300px;
 
    visibility: visible;
}
.popup .textTaker{
    height: 40px;
    width: 90%;
    outline: none;
    border-radius:5px;
    font-size: 15px;
    border: 2px solid #38ad61;
    padding: 0 5px 0 5px;
}
.popup .UpdateQBtn{
    height: 40px;
    width: 90%;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #eee;
    background: #38ad61;
    border: 2px solid #38ad61;
}
.Ques-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.AllQuestion p{
    margin-top: 15px;
}
.UpdateBtn{
    font-size: 13px;
    background: #38ad61;
    padding: 6px;
    font-weight: 500;
    color: #eee;
    border-radius: 5px;
    cursor: pointer;
}
.btn-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}
.btn-section button{
    margin-left: 5px;
}
.QuestionSection{
    height: 90%;
}
.QuestionSection .text-section h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.QuestionSection .text-section h2 i{
    position: absolute;
    left: 20px;
    font-size: 30px;
    background: #eee;
    border-radius: 50%;
    color: #38ad61;
    cursor: pointer;
}