*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;   
		}

		body{
		    display: flex;
		    align-items: center;
		    justify-content: center;    
		    min-height: 100vh;
		    background-image: url("exam-img.jpg");
		    background-position: center;
		    background-size: cover;
		    background-attachment: fixed;
		   }

		.background{
			display: block;
			width: 40%;
			height: 100%;  
		    background-color: lightgray;
		    border-radius: 16px;
		    border-top-left-radius: 30px;
			border-bottom-right-radius: 40%;
			margin-left: 2%;
			box-shadow: 2px 4px 50px gray;
			-webkit-backdrop-filter: blur(1.4px);
			border: 2px solid darkcyan;
			transition: all 2s;
		}

		.inner1{
			width: 90%;
			height: 65%;
			margin: 0% 0% 0% 5%;
		}

		.inner2{
			width: 50%;
			height: 40%;
			margin: 3% 0% 0% 20%;
			display: flex;
			align-items: center;
		    justify-content: center;
		}

		.textCursive{
			font-size: 13px;
			font-family: cursive;
			font-weight: 500;
		}

		.point{
			cursor: pointer;
		}


		.reg{
			display: none;
			width: 35%;
			height: 100%;
			background-color: #e0e0eb;
			border-radius: 10%;
			border: 2.5px double #eb1c05;
			margin: 0% 0% 0% -12%;
		}

		.in{
			padding: 7px 2px;
			border: 1px solid cornflowerblue;
			border-radius: 10px;
			width: 90%;
			margin-left: 3%;
		}

		.label-frm1{
			margin: 3% 0% 0% 4%;
			color: #19191a;
			font-size: 15px;
			font-weight: 550;
			font-family: cursive;
			letter-spacing:2px;
			word-spacing: 2px;
		}

		.btn-marginL{
			margin: 0% 0% 0% 60%;
		}

		.in{
			padding: 7px 2px;
			border: 1px solid cornflowerblue;
			border-radius: 10px;
			width: 90%;
			margin-left: 3%;
		}


		.log{
			display:none;
			width: 25%;
			height: 100%;
			background-color: #e0e0eb;
			border-radius: 10%;
			margin:0% 0% 0% -20% ;
		    border: 2px solid rgb(128, 0, 255);
		}

		.label-frm{
			margin: 3% 0% 2% 7%;
			color: #19191a;
			font-size: 15px;
			font-weight: 550;
			font-family: cursive;
			letter-spacing:2px;
			word-spacing: 2px;
		}

		.textCursive{
			font-size: 13px;
			font-family: cursive;
			font-weight: 500;
		}

		.text-monospace{
			font-family: monospace;
			font-size: 16px;
			font-weight: 550;
			letter-spacing: 2px;
		}

		/* For Removing Arrow Spinners in Input tag for Numbers */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button { 
			-webkit-appearance: none;
		}